@using Microsoft.Extensions.Configuration
@model MusicRatingWebApp.Models.Other.SongDetailViewModel

@{
    ViewData["Title"] = $"{Model.Song.Title} by {Model.Song.ArtistInfo.ArtistName}";
}

<h1>@Model.Song.Title</h1>

<div class="my-4">
    <div class="row my-2">
        <div class="col text-muted">
            <b>
                Artist:
            </b>
            @Html.DisplayFor(model => model.Song.ArtistInfo.ArtistName)
        </div>
    </div>
    <div class="row my-2">
        <div class="col text-muted">
            <b>
                Year:
            </b>
            @Html.DisplayFor(model => model.Song.Year)
        </div>
    </div>
    <div class="row my-2">
        <div class="col text-muted">
            <b>
                Genre:
            </b>
            @Html.DisplayFor(model => model.Song.Genre)
        </div>
    </div>
</div>

<h3>Rating information</h3>

<div class="my-4">
    <div class="row my-2">
        <div class="col text-muted">
            <b>
                Average rating:
            </b>
            @Html.DisplayFor(model => model.Song.AverageRating)
        </div>
    </div>
    <div class="row my-2">
        <div class="col text-muted">
            <b>
                Number of ratings:
            </b>
            @Html.DisplayFor(model => model.Song.RatingsCount)
        </div>
    </div>
</div>

<h5>Rating distribution</h5>

<div>
    <table class="table table-striped my-4 col-sm-2">
        <tr>
            <th>One star</th>
            <td class="text-muted">
                @if (Model.Song.RatingDistribution.One != 0)
                {
                    @($"{Model.Song.RatingDistribution.One} / {Model.Song.RatingsCount}")
                }
                else
                {
                    <span>N/A</span>
                }
            </td>
        </tr>
        <tr>
            <th>Two stars</th>
            <td class="text-muted">
                @if (Model.Song.RatingDistribution.Two != 0)
                {
                    @($"{Model.Song.RatingDistribution.Two} / {Model.Song.RatingsCount}")
                }
                else
                {
                    <span>N/A</span>
                }
            </td>
        </tr>
        <tr>
            <th>Three stars</th>
            <td class="text-muted">
                @if (Model.Song.RatingDistribution.Three != 0)
                {
                    @($"{Model.Song.RatingDistribution.Three} / {Model.Song.RatingsCount}")
                }
                else
                {
                    <span>N/A</span>
                }
            </td>
        </tr>
        <tr>
            <th>Four stars</th>
            <td class="text-muted">
                @if (Model.Song.RatingDistribution.Four != 0)
                {
                    @($"{Model.Song.RatingDistribution.Four} / {Model.Song.RatingsCount}")
                }
                else
                {
                    <span>N/A</span>
                }
            </td>
        </tr>
        <tr>
            <th>Five stars</th>
            <td class="text-muted">
                @if (Model.Song.RatingDistribution.Five != 0)
                {
                    @($"{Model.Song.RatingDistribution.Five} / {Model.Song.RatingsCount}")
                }
                else
                {
                    <span>N/A</span>
                }
            </td>
        </tr>
    </table>
</div>

<h3>Your rating</h3>

<div class="my-4">
    <div class="row my-2 ml-0">
        @if (!User.Identity.IsAuthenticated)
        {
            <div>
                To see your rating for this song and to have the ability to rate songs, you need to <a asp-controller="Auth" asp-action="Register">register</a> or <a asp-controller="Auth" asp-action="Login">login</a> first.
            </div>
        }
        else
        {
            if (Model.UsersCurrentRating == 0)
            {
                <div>
                    You haven't rated this song yet!
                </div>
            }
            else if (Model.UsersCurrentRating == 1)
            {
                <div>
                    Your current rating for this song is 1 star!
                </div>
            }
            else
            {
                <div>
                    Your current rating for this song is @Model.UsersCurrentRating stars!
                </div>
            }
        }
    </div>
</div>

@if (User.Identity.IsAuthenticated)
{
    int r = Model.UsersCurrentRating;
    <div class="my-4">
        <div class="row my-2 ml-0">
            <div class="col-1 text-muted text-left pl-0 my-auto">
                Rating:
            </div>
            <div class="col-11">
                <div class="btn-group ml-3">
                    <form asp-action="Details" asp-route-id="@Model.Song.Id" class="m-1">
                        <input type="hidden" name="CurrentUsersRating" value="1" />
                        <input type="submit" value="1" class="btn btn-success rounded" />
                    </form>
                    <form asp-action="Details" asp-route-id="@Model.Song.Id" class="m-1">
                        <input type="hidden" name="CurrentUsersRating" value="2" />
                        <input type="submit" value="2" class="btn btn-success rounded" />
                    </form>
                    <form asp-action="Details" asp-route-id="@Model.Song.Id" class="m-1">
                        <input type="hidden" name="CurrentUsersRating" value="3" />
                        <input type="submit" value="3" class="btn btn-success rounded" />
                    </form>
                    <form asp-action="Details" asp-route-id="@Model.Song.Id" class="m-1">
                        <input type="hidden" name="CurrentUsersRating" value="4" />
                        <input type="submit" value="4" class="btn btn-success rounded" />
                    </form>
                    <form asp-action="Details" asp-route-id="@Model.Song.Id" class="m-1">
                        <input type="hidden" name="CurrentUsersRating" value="5" />
                        <input type="submit" value="5" class="btn btn-success rounded" />
                    </form>
                </div>
            </div>
        </div>
    </div>
}

@if (User.IsInRole("Admin"))
{
    <div class="my-2">
        <div class="row ml-0">
            <a asp-action="Edit" asp-route-id="@Model.Song.Id" class="btn btn-primary rounded">Edit song</a>
        </div>
    </div>
}

<div class="my-4">
    <div class="row ml-0">
        <a asp-action="Index">Back to song list</a>
    </div>
</div>