@model MusicRatingWebApp.Models.Other.SongDetailViewModel

@{
    ViewData["Title"] = $"{Model.Song.Title} by {Model.Song.ArtistInfo.ArtistName}";
}

<h1>@Html.DisplayFor(model => model.Song.Title)</h1>

<div class="my-4">
    <div class="row my-2">
        <div class="col text-muted">
            <b>
                Artist: 
            </b>
            @Html.DisplayFor(model => model.Song.ArtistInfo.ArtistName)
        </div>
    </div>
    <div class="row my-2">
        <div class="col text-muted">
            <b>
                Year: 
            </b>
            @Html.DisplayFor(model => model.Song.Year)
        </div>
    </div>
    <div class="row my-2">
        <div class="col text-muted">
            <b>
                Genre: 
            </b>
            @Html.DisplayFor(model => model.Song.Genre)
        </div>
    </div>
</div>

<h3>Rating information</h3>

<div class="my-4">
    <div class="row my-2">
        <div class="col text-muted">
            <b>
                Average rating: 
            </b>
            @Html.DisplayFor(model => model.Song.AverageRating)
        </div>
    </div>
    <div class="row my-2">
        <div class="col text-muted">
            <b>
                Number of ratings: 
            </b>
            @Html.DisplayFor(model => model.Song.RatingsCount)
        </div>
    </div>
</div>

<h5>Rating distribution</h5>

<div class="my-4">
    <div class="row my-2">
        <div class="col text-muted">
            <b>
                1 star:
            </b>
            @if (Model.Song.RatingDistribution.One != 0)
            {
                @($"{Model.Song.RatingDistribution.One} / {Model.Song.RatingsCount}")
            }
            else
            {
                <span>No ratings</span>
            }
        </div>
    </div>
    <div class="row my-2">
        <div class="col text-muted">
            <b>
                2 stars:
            </b>
            @if (Model.Song.RatingDistribution.Two != 0)
            {
                @($"{Model.Song.RatingDistribution.Two} / {Model.Song.RatingsCount}")
            }
            else
            {
                <span>No ratings</span>
            }
        </div>
    </div>
    <div class="row my-2">
        <div class="col text-muted">
            <b>
                3 stars:
            </b>
            @if (Model.Song.RatingDistribution.Three != 0)
            {
                @($"{Model.Song.RatingDistribution.Three} / {Model.Song.RatingsCount}")
            }
            else
            {
                <span>No ratings</span>
            }
        </div>
    </div>
    <div class="row my-2">
        <div class="col text-muted">
            <b>
                4 stars:
            </b>
            @if (Model.Song.RatingDistribution.Four != 0)
            {
                @($"{Model.Song.RatingDistribution.Four} / {Model.Song.RatingsCount}")
            }
            else
            {
                <span>No ratings</span>
            }
        </div>
    </div>
    <div class="row my-2">
        <div class="col text-muted">
            <b>
                5 stars:
            </b>
            @if (Model.Song.RatingDistribution.Five != 0)
            {
                @($"{Model.Song.RatingDistribution.Five} / {Model.Song.RatingsCount}")
            }
            else
            {
                <span>No ratings</span>
            }
        </div>
    </div>
</div>

<h3>Your rating</h3>

<div class="row my-4">
    @{
        if (!User.Identity.IsAuthenticated)
        {
            <div class="col-md-4 text-muted">
                <a asp-controller="Auth" asp-action="Register">
                    Register
                </a> or
                <a asp-controller="Auth" asp-action="Login">
                    login
                </a> to be able to rate songs!
            </div>
        }
        else
        {
            if (Model.UsersCurrentRating == 0)
            {
                <div class="col-md-4 text-muted">You haven't rated this song yet!</div>
            }
            else if (Model.UsersCurrentRating == 1)
            {
                <div class="col-md-4 text-muted">Your current rating for this song is 1 star!</div>
            }
            else
            {
                <div class="col-md-4 text-muted">Your current rating for this song is @Model.UsersCurrentRating stars!</div>
            }
        }
    }
</div>

@{
    if (User.Identity.IsAuthenticated)
    {
        int currentRating = Model.UsersCurrentRating;
        <form asp-action="Details" asp-route-id="@Model.Song.Id" method="post">
            <div class="row">
                <div class="col-1 text-muted">Rating: </div>
                <div class="col-11">
                    <div class="form-group">
                        <input type="radio" id="radioButton1" name="CurrentUsersRating" value="1" checked="@(currentRating == 1)" />
                        <label>1</label>
                        <input type="radio" id="radioButton2" name="CurrentUsersRating" value="2" checked="@(currentRating == 2)" />
                        <label>2</label>
                        <input type="radio" id="radioButton3" name="CurrentUsersRating" value="3" checked="@(currentRating == 3)" />
                        <label>3</label>
                        <input type="radio" id="radioButton4" name="CurrentUsersRating" value="4" checked="@(currentRating == 4)" />
                        <label>4</label>
                        <input type="radio" id="radioButton5" name="CurrentUsersRating" value="5" checked="@(currentRating == 5)" />
                        <label>5</label>
                    </div>
                </div>
            </div>
            <div class="row">
                <input type="submit" value="Submit / change rating" class="btn btn-success col-2 mx-3 mb-4"/>
            </div>
        </form>
    }
}

<div>
    @if (User.IsInRole("Admin"))
    {
        <a asp-action="Edit" asp-route-id="@Model.Song.Id" class="btn btn-primary rounded p-2 mr-1">Edit song</a>
    }
    <a asp-action="Index" class="btn btn-secondary rounded p-2">Back to song list</a>
</div>