<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <nav class="navbar navbar-light green-background border-bottom box-shadow mb-3 navbar-expand-sm">
        <div class="container">
            <a class="navbar-brand text-white" asp-area="" asp-controller="Home" asp-action="Index"><b>Music rating web app</b></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link text-white rounded" asp-area="" asp-controller="Artists" asp-action="Index"><img src="/icons/singer.svg" height="20" width="20" class="mr-2" alt="Artists"/>Artists</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white rounded" asp-area="" asp-controller="Songs" asp-action="Index"><img src="/icons/music-player.svg" height="20" width="20" class="mr-2" alt="Songs"/>Songs</a>
                    </li>
                </ul>
                <ul class="navbar-nav ml-auto">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li class="nav-item">
                            <span class="text-white nav-link disabled">Welcome, <b>@User.Identity.Name</b></span>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white rounded" asp-area="" asp-controller="Auth" asp-action="Logout"><b>Logout</b></a>
                        </li>
                    }
                    else
                    {
                        <li class="nav-item">
                            <a class="nav-link text-white rounded" asp-area="" asp-controller="Auth" asp-action="Register"><b>Register</b></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white rounded" asp-area="" asp-controller="Auth" asp-action="Login"><b>Login</b></a>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </nav>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <footer class="text-muted footer border-top">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm text-center copyright-text">
                    &copy; @DateTime.Now.Year - Aldas Taraškevičius, IFF-6/15
                </div>
                <div class="col-sm text-center">
                    Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a>
                </div>
                <div class="col-sm text-center">
                    <a href="#" data-toggle="modal" data-target="#basicHelpModal">Basic help</a>
                </div>
            </div>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)

    <!-- Modal -->
    <div class="modal fade" id="basicHelpModal" tabindex="-1" role="dialog" aria-labelledby="basicHelpModalTitle">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="basicHelpModalTitle">Basic help</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>To see a list of all artists, click the <em>Artists</em> tab. To see more details about an artist, click on the artist's name.</p>
                    <p>To see a list of all songs, click the <em>Songs</em> tab. To see more details about a song, click on the song's title.</p>
                    <p>To login or register, click the <em>Login</em> and <em>Register</em> tabs respectively.</p>
                    <p>If you login, you can add or change your rating of the song by going to the song's page, clicking on your desired rating and pressing the <em>Submit / change rating</em> button.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
